RegistroTemperatura/src/main/resources/registro.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed May 10 2023 12:28:21 GMT+0200 (hora de verano de Europa central) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="registroT">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="leerT" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="fecha" type="xs:string"></xs:element>
                                             <xs:element name="tMax" type="xs:string"></xs:element>
                                             <xs:element name="tMin" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>